nav {
    height: rem(70px);
    line-height: rem(70px);
    
    &.navBar {
        &::after {
            content: "";
            clear: both;
            display: table;
        }
    }

    a {
        img {
            vertical-align: middle;
            width: rem(30px);
            height: rem(30px);
        }
        &:nth-child(2) {
            float: right;
        }
    }

}

header {
    margin: rem(100px) 0 rem(200px) rem(120px);
    
    p {
        width: 60%;
        margin-top: rem(10px);
    }
}

.header2 {
    margin: rem(130px) 0 rem(80px) rem(40px);
}