.wrapper {
    width: 90%;
    margin: 0 auto;

    .work {
        text-align: center;
        width: 100%;
        img {
            margin: 1%;
            width: 45%;
        }
    }
    
    /* .work2 */
    .work2 {
        width: 100%;
        text-align: center;
        img {
            margin: 1%;
            width: 94%;
        }
    }
}


